<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>538047045166-738i0sk0u6oomvnv6h7odte751u93uet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538047045166-738i0sk0u6oomvnv6h7odte751u93uet</string>
	<key>API_KEY</key>
	<string>AIzaSyC9NPxE3u6CHQxchDuz7mi4VGwglAsAbk0</string>
	<key>GCM_SENDER_ID</key>
	<string>538047045166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.DePaulUniversity.Radler</string>
	<key>PROJECT_ID</key>
	<string>radler-8f2de</string>
	<key>STORAGE_BUCKET</key>
	<string>radler-8f2de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:538047045166:ios:1937bcd9e9f5d8a0</string>
	<key>DATABASE_URL</key>
	<string>https://radler-8f2de.firebaseio.com</string>
</dict>
</plist>