<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Radler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FBA918641E64C30000CB73E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA9187A1E64C30100CB73E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA918851E64C30100CB73E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
